.input-form {
  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 100px;
}

.input-form-feild {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.booktitle {
  width: 45%;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
}

.category {
  width: 32%;
  height: 40px;
  border-radius: 5px;
}

.add-book {
  width: 12%;
  background-color: rgb(49, 137, 252);
  color: aliceblue;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}

h3 {
  font-size: 25px;
  color: rgb(70, 70, 70);
}
