body {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 238, 238);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(252, 252, 252);
  padding: 0 10px;
}

.links {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #0290ff;
  margin-left: 95px;
}

.oval {
  width: 2.113rem;
  height: 2.113rem;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}

.links li link {
  list-style: none;
  text-decoration: none;
}

.books-link {
  color: #121212;
  text-decoration: none;
}

.categories-link {
  color: #121212;
  text-decoration: none;
}
